anyio==3.6.2
APScheduler==3.6.3
asgiref==3.6.0
beautifulsoup4==4.11.1
bs4==0.0.1
cachetools==4.2.2
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
distlib==0.3.6
Django==4.2.4
django-mssql-backend==2.8.1
django-pyodbc-azure==2.1.0.0
django-tinymce==3.5.0
djongo==1.3.6
dnspython==2.3.0
email-validator==1.3.1
et-xmlfile==1.1.0
filelock==3.9.0
Flask==2.2.2
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
flask-paginate==2022.1.8
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.2
mongoengine==0.27.0
mysqlclient==2.2.4
numpy==1.24.0
openai==0.25.0
openpyxl==3.0.10
pandas==1.5.2
pandas-stubs==1.5.2.221213
pathlib==1.0.1
pdfmerger==0.5.0
Pillow==9.4.0
platformdirs==3.0.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
PyJWT==2.6.0
pymongo==4.3.3
PyMuPDF==1.22.2
pyodbc==4.0.39
PyPDF2==3.0.1
pypiwin32==223
python-dateutil==2.8.1
python-telegram-bot==13.7
pyttsx3==2.90
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305
requests==2.28.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.3
sqlparse==0.4.4
tornado==6.1
tqdm==4.64.1
types-pytz==2022.7.0.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.3
urllib3==1.25.10
virtualenv==20.19.0
Werkzeug==2.2.3
whitenoise==6.4.0
WTForms==3.0.1
